div.user {
    font-weight: bolder;
    font-family: sans-serif;
    color: #000;
    width: 350px;
    height: 200px;
    background: #aad6ee;
    top: 55%;
    left: 50%;
    border-radius: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding-left: 50px;
    padding-top: 30px;
}

span.nom {
    margin-left: 35px;
    padding-bottom: 10px;
}

span.prenom {
    margin-left: 11px;
    margin-bottom: 10px;
}

span.email {
    margin-left: 28px;
    margin-bottom: 5px;
}