* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.menu-bar {
    background: #aad6ee;
    text-align: center;
    font-weight: bold;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #204636;
}

.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #204636;
}

.menu-bar ul li:hover {
    background: #aad6ee;
    cursor: pointer;
}

.menu-bar .fa {
    margin-top: 5px;
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: #aad6ee;
    margin-top: 15px;
    margin-left: -15px;
    border-radius: 30px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: #fff;
}

*::before, *::after {
    box-sizing: border-box;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    padding: 5px;
    text-align: left;
    border: solid 1px #fff;
}

th {
    background-color: #4d7991;
    color: #fff;
}

tr:nth-child(odd) {
    background-color: #eee;
}

input[type="Submit"] {
    background: none;
    font-weight: bold;
    border: none;
}

input[type="Submit"]:hover {
    color: #4d7991;
    cursor: pointer;
}

@media only  screen and (max-width: 700px) {
    table, thead, tbody, tr, th, td {
        display: block;
    }

    thead {
        display: none;
    }

    td:nth-child(odd) {
        background-color: #eee;
    }

    td {
        padding-left: 150px;
        position: relative;
        margin-top: -1px;
        background: #fff;
    }

    td::before {
        padding: 5px;
        content: attr(data-label);
        position: absolute;
        top: 0;
        left: 0;
        width: 130px;
        bottom: 0;
        background-color: #4d7991;
        color: #fff;
        display: flex;
        align-items: center;
        font-weight: bold;
    }
}