@import "Import/Variables.css";
.menu-bar {
    font-family: TitilliumWeb-Regular;
    text-align: center;
    font-weight: bolder;
}
.UL_Menu{
    width: 500px;
    border: 1px black solid;
    background: var(--MainDiv);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    display: inline-flex;
    list-style: none;
    padding: 5px;
}

.menu-bar ul a {
    width: 160px;
    transition: 0.5s;
    text-decoration: none;
    color: var(--H1);
}

.menu-bar ul a:hover {
    background: var(--H1);
    color: var(--BackGround);
    cursor: pointer;
    border-radius: 20px;

}

.Btn_Logout li:hover {
    background: var(--BackGround);
    color: var(--H1);
    transition: 0.5s;
    border-radius: 20px;
    border: 1px black solid;

}