
        body{
            padding: 0;
            margin: 0;
        }
        div.head{
            position: center;
            height: 50px;
            background-color: #a3e6ca;
            padding-top: 2px;
            
        }
      
        img.logo{
            width: 60px;
            height:auto;
            padding-left: 1%;
            float:left;
            padding-right: 23%;
        }
      
        
        div.choisir {
                padding-top:1%;
                float:center;
                padding-right: 8%;
            }
        div.choisir a{
            font-weight:bolder;
        
            font-size: 30px;
            text-decoration: none;
            text-align: center;
            color:rgb(10, 10, 10);
            border: 2px solid rgb(66, 64, 64);
            border-radius: 30px;
            width: 240px;
            padding: 10px;
            display: inline-block;
            margin: 10px;
        }
       

        table{
            width: 100%;
            border-collapse: collapse;
            margin: 20px auto;
        }
        th, td{
            padding: 5px;
            text-align: left;
            border: solid 1px #fff;
        }
        th{
            background-color: #204636;
            color: #fff;
        }
        tr:nth-child(odd){
            background-color: #eee;
        }
          
        .foot{
            position: relative;
            height: 30px;
            background-color: #BACBC4;
            text-align:center;
            color:#204636;
            padding-top: 10px;
            font-weight: bold;
        }
        a.footer{
            text-decoration:none;
            font-family: Calibri, 'Trebuchet MS', sans-serif;
            color:#204636;
        }
