* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.menu-bar {
    background: #aad6ee;
    text-align: center;
    font-weight: bold;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #204636;
}

.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #204636;
}

.menu-bar ul li:hover {
    background: #aad6ee;
    cursor: pointer;
}

.menu-bar .fa {
    margin-top: 5px;
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: #aad6ee;
    margin-top: 15px;
    margin-left: -15px;
    border-radius: 30px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: #fff;
}