
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}
div.head{
    position: center;
    height: 50px;
    background-color: #a3e6ca;
    padding-top: 2px;
    
}

img.logo{
    width: 60px;
    height:auto;
    padding-left: 1%;
    float:left;
    padding-right: 23%;
}



.login-box
{
    width: 420px;
    height: 700px;
    background: #BACBC4;
    color: #204636;
    position: absolute;
    margin-left: 480px;
    margin-top: 35px;
    box-sizing: border-box;
    padding: 15px 20px;
    border-radius: 3px;
}
h1
{
    margin: 0;
    padding-top: 40px;
    text-align: center;
    font-size: 22px;
    color: rgb(68, 66, 66);
}
.login-box p
{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login-box input
{
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="text"], .login-box input[type="email"]
{
    border: none;
    border-bottom: 1px solid #204636;
    background: none;
    outline: none;
    height: 25px;
    font-weight: bold;
    color: rgb(10, 10, 10);
    font-size: 16px;
}
.login-box input[type="submit"], .login-box input[type="reset"]
{
    border:2px solid #204636;
    outline: none;
    height: 40px;
    background: none;
    font-weight: bold;
    color: #204636;
    font-size: 18px;
    border-radius: 20px;
}
.login-box input[type="submit"]:hover , .login-box input[type="reset"]:hover
{
    cursor: pointer;
    background-color: #204636;
    color: rgb(10, 10, 10);
}
